<form action="/send-mail" method="post">
  <div class="field">
    <label for="Recipient">Recipient</label><br>
    <input name="recipient" type="text" />
  </div>
  <div class="field">
    <label for="body">Body</label><br>
    <textarea name="body">
</textarea>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Send mail" />
  </div>
</form>
