<form action="/contact" method="post">
  <div class="field">
    <label for="from">From</label><br>
    <input name="from" type="text" />
  </div>
  <div class="field">
    <label for="body">Body</label><br>
    <textarea name="body">
</textarea>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Send mail" />
  </div>
</form>
