<h3>Here's the nav</h3>

<% my_nav = ["home", "array", "brian", "hello", "stupid"] %>

<ul>
	<% for link in my_nav %>
		<li><a href='/<%= link %>'><%= link %></a></li>
	<% end %>
</ul>

<img src="images/success.gif" width=720/>
